body {
    font-size: 16px;
    color: rgb(54, 54, 56);
    font-family: 'Oxygen', sans-serif;
  }
  
  /** HEADER **/
  #header-nav {
    background-color: #4f90f8;
    border-radius: 0;
    border: 0;
  
  } 
  
  
  .navbar-brand{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-brand h1 { /* name */
    font-family: 'Lora', serif;
    color: #381bd8;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    /* text-align: left; */
    /* padding-top: 10px; */
  
  
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  
  
  
  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #951C49;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  /* END HEADER */
  
  /********** Large devices only **********/
  @media (min-width: 1200px) {
     #nav-list {
       display: none;
     }
    }
    
  
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
    #nav-list {
      display: none;
    }
  }
  
  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    #nav-list {
      display: none;
    }
  }
  
  /********** Extra small devices only **********/
  @media (max-width: 767px) {
    /* Header */
    .navbar-brand {
      padding-top: 10px;
      height: 80px;
    }
    .navbar-brand h1 { /*  name */
      padding-top: 10px;
      font-size: 5vw; /* 1vw = 1% of viewport width */
    }
  
    #collapsable-nav a { /* Collapsed nav menu text */
      font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
      font-size: 1em;
      margin-right: 5px;
    }
  
    
   
    /* End Header */
  
  }
  
  #p1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(136,186,207);
    height: 1000px;
    margin-left: 10px;
    margin-right: 10px;
  
  }
  
  .container h2 {
    text-align:center;
  }
  
  h1, h2 {
    text-align:center;
    color: rgb(6, 4, 20);
  
  }
  
  body {
    font-size: 16px;
    color: rgb(54, 54, 56);
    font-family: 'Oxygen', sans-serif;
  }
  
  /** HEADER **/
  #header-nav {
    background-color: #4f90f8;
    border-radius: 0;
    border: 0;
  
  } 
  
  
  .navbar-brand{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-brand h1 { /* name */
    font-family: 'Lora', serif;
    color: #381bd8;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    /* text-align: left; */
    /* padding-top: 10px; */
  
  
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  
  
  
  #nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #951C49;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  /* END HEADER */
  
  /********** Large devices only **********/
  @media (min-width: 1200px) {
     #nav-list {
       display: none;
     }
    }
    
  
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
    
  }
  
  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
  
  }
  
  /********** Extra small devices only **********/
  @media (max-width: 767px) {
    /* Header */
    .navbar-brand {
      padding-top: 10px;
      height: 80px;
    }
    .navbar-brand h1 { /*  name */
      padding-top: 10px;
      font-size: 5vw; /* 1vw = 1% of viewport width */
    }
  
    #collapsable-nav a { /* Collapsed nav menu text */
      font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
      font-size: 1em;
      margin-right: 5px;
    }
  
    
   
    /* End Header */
  
  }
  
  #p1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(136,186,207);
    height: 1000px;
    margin-left: 10px;
    margin-right: 10px;
  
  }
  
  .container h2 {
    text-align:center;
  }
  
  h1, h2 {
    text-align:center;
    color: rgb(6, 4, 20);
  
  }
  
    